{
	"prefix": "!",
	"token": "YOUR_BOT_TOKEN",
	"database": "YOUR_DATABASE_NAME",
	"user": "YOUR_DBMS_USERNAME",
	"password": "YOUR_DBMS_PASSWORD",
	"kyleID": "YOUR_DISCORD_ID",
	"translateTargetCode": "YOUR_LANGUAGE_CODE",
	"translateTargetName": "YOUR_LANGUAGE_NAME"
}
